modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
RESEND_FROM_EMAIL = "info@reelsona.com"
STRIPE_PRICE_ID_PROGRAM = "price_1U2cvoLYaLaJwNz7MidD0ltU"
STRIPE_PUBLISHABLE_KEY = "pk_live_Csu9kKtqZGsG7hVk63kJTjLF"

[objectStorage]
defaultBucketID = "replit-objstore-7b666776-9072-4e04-9f8f-cad91fbd313e"
